@font-face {
  font-family: roboto;
  src: url(fonts/Roboto-Thin.ttf);
}

body {
  background-color: rgb(61, 61, 61);
  user-select: none;
}

#codex p,
span {
  font-family: roboto;
}

#codex {
  width: 1200px;
  height: 720px;
  background-color: rgb(85, 85, 85);
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -600px;
  box-shadow: inset 0 0 16px 16px rgb(24, 24, 24), 0 0 8px 8px rgb(43, 43, 43);
}

#contentScroller {
  display: block;
  width: 270px;
  height: 700px;
  background-color: rgb(133, 23, 23);
  position: absolute;
  right: 0px;
  top: 10px;
  box-shadow: inset 0 0 16px 16px rgb(68, 7, 7), 0 0 8px 8px rgb(92, 22, 22);
  overflow: hidden;
  overflow-y: auto;
}

#contentScroller > p:first-child {
  margin-top: 55px;
}

#contentSearchbar {
  width: 265px;
  height: 45px;
  background-color: rgb(92, 22, 22);
  position: absolute;
  right: 5px;
  top: 10px;
  box-shadow: inset 0 0 16px 16px rgb(68, 7, 7);
}

#contentSearchbutton,
#contentSearchtagtoggle {
  transition: 0.1s;
  width: 40px;
  height: 40px;
  background-color: grey;
  text-align: center;
  border-radius: 4px;
  box-shadow: inset 0 0 10px 5px rgb(70, 69, 69), 0 0 2px 2px black;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 2.5px;
}

#contentSearchbutton {
  right: 40px;
}

#contentSearchtagtoggle {
  right: 0px;
}

#contentSearchfield {
  height: 35px;
  width: 175px;
  font-size: 30px;
  box-shadow: inset 0 0 10px 5px rgb(70, 69, 69), 0 0 2px 2px black;
  border-radius: 8px;
  background-color: grey;
  position: absolute;
  left: 0px;
  top: 2.5px;
  color: silver;
  text-shadow: 0 0 6px black;
}

#content {
  width: 910px;
  height: 700px;
  position: absolute;
  left: 0px;
  top: 5px;
  border: 5px solid black;
  overflow-y: auto;
}

.CodexCategories,
.CodexArrows,
.CodexArrowsSmall,
.CodexSubcategories,
.CodexEntities {
  color: silver;
  text-shadow: 0 0 10px black;
  margin: 5px;
  cursor: pointer;
}

.CodexCategories {
  font-size: 28px;
  text-decoration: underline;
  font-weight: bold;
}

.CodexArrows {
  font-size: 26px;
  text-decoration: none !important;
  position: absolute;
  user-select: none !important;
}

.CodexArrowsSmall {
  font-size: 20px;
  text-decoration: none !important;
  position: absolute;
  user-select: none !important;
}

.CodexSubcategories {
  font-size: 22px;
  text-decoration: underline;
}

.CodexEntities {
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.PointerClass {
  cursor: pointer;
  /*text-shadow: -0.05em 0.05em 0.1em black;*/
  text-decoration: underline;
}

.CodexEntryTitle {
  font-size: 56px;
  color: rgb(211, 211, 211);
  text-shadow: 0 0 16px black;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #525252;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(34, 34, 34);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 20, 20);
}

.TextIconClass {
  width: 30px;
  height: 30px;
}

#CodexBaseText {
  position: absolute;
  left: 10px;
  top: 80px;
}
#CodexBaseText p, span {
  user-select: text !important;
  font-size: 30px;
  color: silver;
  text-shadow: 0 0 8px black;
}

#allyportraits {
  width: 300px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 75px;
  margin-left: -950px;
}

#enemyportraits {
  width: 300px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 75px;
  margin-left: 610px;
}

.portrait_background {
  width: 300px;
  height: 210px;
  background-color: rgb(66, 66, 66);
  box-shadow: 0 0 15px 12px rgb(31, 31, 31);
  position: relative;
  background-image: url(resources/images/portraits/portrait_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 25px;
  border-radius: 8px;
}

.portrait_title {
  font-size: 24px;
  color: gold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -18px;
  text-shadow: -2px 2px 2px black;
  white-space: nowrap;
  text-decoration: underline;
}

.portrait_image {
  border-radius: 12px;
  box-shadow: 0 0 12px 8px black;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 110px;
  height: 130px;
}

.portrait_class {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -25px;
}

.hpbarbg,
.mpbarbg {
  width: 128px;
  height: 23px;
  border: 2px solid black;
  position: absolute;
  background-color: rgb(44, 44, 44);
  box-shadow: inset 0 0 6px 4px rgb(36, 36, 36), 0 0 4px 4px black;
  left: 153px;
}

.barNum {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  z-index: 1;
  white-space: nowrap;
}

.hpbarfill,
.mpbarfill {
  left: 155px;
  height: 23px;
  position: absolute;
}

.hpbarbg {
  top: 60px;
}

.mpbarbg {
  top: 102px;
}

.hpbarfill {
  top: 62px;
  background-color: rgb(134, 6, 6);
  box-shadow: inset 0 0 6px 4px rgb(80, 3, 3);
}

.mpbarfill {
  top: 104px;
  background-color: rgb(6, 36, 134);
  box-shadow: inset 0 0 6px 4px rgb(3, 8, 80);
}

.statusEffects {
  width: 128px;
  height: 48px;
  background-color: rgb(34, 33, 33);
  position: absolute;
  right: 17px;
  bottom: 16px;
  border: 2px solid black;
  box-shadow: inset 0 0 6px 4px rgb(36, 36, 36), 0 0 4px 4px black;
}

#uiIcons {
  width: fit-content;
  height: 100px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  user-select: none;
}

.ui_button {
  transition: 0.25s;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  cursor: pointer;
}

.ui_button:hover {
  transform: scale(1.05);
}

#settings {
  width: 300px;
  height: fit-content;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 100px;
}

#settings button {
  transition: 0.15s;
  width: 300px;
  height: 80px;
  box-shadow: 0 12px 4px 4px rgb(70, 8, 20);
  border: none;
  background-color: rgb(255, 20, 67);
  user-select: none;
  outline: none;
  font-size: 48px;
  font-family: roboto;
  color: white;
  text-shadow: 0 4px 6px black;
  position: absolute;
  cursor: pointer;
}

#save {
  top: 0px;
}

#load {
  top: 110px;
}

#options {
  top: 220px;
}

#menu {
  top: 330px;
}

#settings button:hover {
  margin-top: 8px;
  box-shadow: 0 4px 4px 4px rgb(70, 8, 20);
}

#settings button:active {
  margin-top: 10px;
  box-shadow: 0 4px 4px 4px rgb(70, 8, 20);
}

#saveLoad {
  width: 500px;
  height: fit-content;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 100px;
}

#saveLoad button {
  transition: 0.15s;
  width: 300px;
  height: 80px;
  box-shadow: 0 12px 4px 4px rgb(70, 8, 20);
  border: none;
  background-color: rgb(255, 20, 67);
  user-select: none;
  outline: none;
  font-size: 48px;
  font-family: roboto;
  color: white;
  text-shadow: 0 4px 6px black;
  margin: 20px;
  position: relative;
  top: 0px;
  cursor: pointer;
}

#saveLoad button:hover {
  top: 8px;
  box-shadow: 0 4px 4px 4px rgb(70, 8, 20);
}

#saveLoad button:active {
  top: 10px;
  box-shadow: 0 2px 4px 4px rgb(70, 8, 20);
}

#Alert {
  width: 280px;
  height: 300px;
  background-color: rgb(94, 4, 4);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -150px;
  border-radius: 4px;
  border: 8px solid rgb(49, 2, 2);
  box-shadow: 0 8px 6px 8px rgb(39, 1, 1), inset 0 0 8px 8px rgb(80, 3, 3);
  z-index: 3;
}

#topAlert {
  width: 100%;
  height: 65px;
  background-color: rgb(44, 44, 44);
  box-shadow: inset 0 0 8px 8px rgb(34, 34, 34);
}

#alertIco {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
}

#yesAlert,
#noAlert {
  transition: 0.1s;
  background-color: rgb(145, 137, 137);
  border: none;
  width: 100px;
  height: 60px;
  box-shadow: 0 6px 4px 4px rgb(80, 79, 79), inset 0 0 4px 4px rgb(131, 121, 121);
  position: absolute;
  bottom: 24px;
  cursor: pointer;
  color: white;
  text-shadow: 0 3px 6px black;
  font-size: 24px;
  outline: none;
}

#yesAlert:hover,
#noAlert:hover {
  bottom: 20px;
  box-shadow: 0 2px 4px 4px rgb(80, 79, 79), inset 0 0 4px 4px rgb(131, 121, 121);
}

#yesAlert:active,
#noAlert:active {
  bottom: 18px;
  box-shadow: 0 0px 4px 4px rgb(80, 79, 79), inset 0 0 4px 4px rgb(131, 121, 121);
}

#yesAlert {
  left: 20px;
}

#noAlert {
  right: 20px;
}

#textAlert {
  color: silver;
  text-shadow: 0 4px 8px black;
  font-family: roboto;
  font-size: 20px;
  text-align: center;
}

#dimScreen {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
  opacity: 0.85;
}

#invFrame {
  width: 1200px;
  height: 720px;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  top: 100px;
  border-radius: 8px;
  border: 8px solid rgb(80, 80, 80);
  box-shadow: 0 6px 5px 5px rgb(59, 59, 59);
}

#invGridFrame {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: 6px solid rgb(32, 20, 10);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#invGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#invGrid div {
  transition: 0.1s;
  width: 90px;
  height: 95px;
  background-color: rgb(54, 54, 54);
  border: 6px solid rgb(27, 27, 27);
  box-sizing: border-box;
  margin: 12px;
  padding: 0px;
  position: relative;
}

#invGrid p {
  position: absolute;
  right: 8px;
  bottom: -25px;
  color: white;
  font-size: 24px;
  text-shadow: 0 0 4px black;
}

#invGrid div:hover {
  border: 6px solid rgb(43, 43, 43);
}

#infoBox {
  transition: 0.2s;
  transform: scale(1);
  width: 440px;
  height: fit-content;
  position: absolute;
  top: 0px;
  left: 0px;
  user-select: none;
  background-color: rgb(27, 27, 27);
  text-shadow: 0 1px 2px silver;
  font-weight: bold;
  z-index: 2;
}

#infoBox p,
span {
  color: white;
  font-size: 27px;
  font-family: roboto;
  margin: 0px;
  position: relative;
}

.effectBox {
  width: 420px;
  height: fit-content;
  background: rgb(61, 58, 58);
  position: relative;
  left: -15px;
  border-radius: 8px;
  box-shadow: 0 2px, 4px 4px rgb(32, 32, 32), inset 0 0 8px 8px rgb(47, 47, 47);
}

.effectMain {
  position: relative;
  white-space: nowrap;
  margin-left: -25px;
  left: -30px;
}

.effectLine {
  display: flex;
  white-space: nowrap;
  position: relative;
  margin-left: -25px;
}

.effectLine p {
  position: relative;
  text-shadow: 0 0 4px rgb(0, 0, 0) !important;
  font-weight: bold;
}

.effectLine span {
  white-space: nowrap;
  position: relative;
  text-shadow: 0 0 4px rgb(0, 0, 0) !important;
  font-weight: bold;
}

#infoBox div {
  margin: 25px;
}

.desc {
  color: white;
  font-size: 24px;
  font-family: roboto;
  margin: 0px;
  font-style: italic;
  white-space: normal;
}

#infoBox h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
}

#infoBox p {
  margin-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#invEquipFrame {
  width: 40%;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border: 6px solid rgb(36, 36, 36);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#armorFrame div,
#weaponFrame div {
  transition: 0.1s;
  width: 135px;
  height: 140px;
  background-color: rgb(54, 54, 54);
  border: 6px solid rgb(27, 27, 27);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

#armorFrame div:hover,
#weaponFrame div:hover,
#ringFrame div:hover {
  border: 6px solid rgb(44, 44, 44);
}

#armorFrame p,
#weaponFrame p {
  font-size: 26px;
  font-family: roboto;
  color: silver;
  text-shadow: -1px 2px 4px rgb(58, 58, 58);
  position: absolute;
}

#helmet {
  left: 50px;
  top: 25px;
}

#helmetText {
  left: 50px;
  top: 145px;
}

#chestarmor {
  right: 50px;
  top: 25px;
}

#chestText {
  right: 50px;
  top: 145px;
}

#gloves {
  left: 50px;
  top: 215px;
}

#glovesText {
  left: 50px;
  top: 335px;
}

#feet {
  right: 50px;
  top: 215px;
}

#feetText {
  right: 60px;
  top: 335px;
}

#weaponSlot {
  left: 50px;
  top: 430px;
}

#weaponText {
  left: 70px;
  top: 555px;
}

#shieldSlot {
  right: 50px;
  top: 430px;
}

#shieldText {
  right: 90px;
  top: 555px;
}

#ringFrame div {
  transition: 0.1s;
  width: 76px;
  height: 65px;
  background-color: rgb(54, 54, 54);
  border: 6px solid rgb(27, 27, 27);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

#ringFrame p {
  font-size: 18px;
  font-family: roboto;
  color: silver;
  text-shadow: -1px 2px 4px rgb(58, 58, 58);
  position: absolute;
}

#ring1 {
  left: 60px;
  bottom: 25px;
}

#ring2 {
  left: 196px;
  bottom: 25px;
}

#ring3 {
  right: 60px;
  bottom: 25px;
}

#ring1Text {
  left: 72px;
  bottom: -20px;
}

#ring2Text {
  left: 208px;
  bottom: -20px;
}

#ring3Text {
  right: 72px;
  bottom: -20px;
}

.equippedItem {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

#timeFrame {
  width: 360px;
  height: 120px;
  background-color: rgb(97, 14, 14);
  border-radius: 16px;
  position: absolute;
  left: 50%;
  margin-left: -180px;
  top: 900px;
  background-image: url("resources/images/bg/bg_cbrown.png");
  box-shadow: 0 5px 5px 5px rgb(39, 21, 11);
}

#timeFrame div {
  width: 320px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -160px;
  top: 56px;
  box-shadow: inset 0 0 1px 1px silver, 0 0 2px 1px rgb(177, 176, 176);
}

#timeFrame p {
  color: white;
  text-shadow: 0 2px 6px rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
}

#clock {
  font-size: 30px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

#date {
  font-size: 30px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
