body {
  background-color: rgb(61, 61, 61);
  user-select: none;
}

#codex {
  width: 1200px;
  height: 720px;
  background-color: rgb(85, 85, 85);
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -600px;
  box-shadow: inset 0 0 16px 16px rgb(24, 24, 24), 0 0 8px 8px rgb(43, 43, 43);
}

#contentScroller {
  width: 270px;
  height: 700px;
  background-color: rgb(133, 23, 23);
  position: absolute;
  right: 0px;
  top: 10px;
  box-shadow: inset 0 0 16px 16px rgb(68, 7, 7), 0 0 8px 8px rgb(92, 22, 22);
}

#contentScroller >p:first-child {
  margin-top: 55px;
}

#contentSearchbar {
  width: 265px;
  height: 45px;
  background-color: rgb(92, 22, 22);
  position: absolute;
  right: 5px;
  top: 10px;
  box-shadow: inset 0 0 16px 16px rgb(68, 7, 7);
}

#contentSearchbutton, #contentSearchtagtoggle {
  transition: 0.1s;
  width: 40px;
  height: 40px;
  background-color: grey;
  background-image: url("../images/icons/magnifying_glass_medium.png");
  text-align: center;
  border-radius: 4px;
  box-shadow: inset 0 0 10px 5px rgb(70, 69, 69), 0 0 2px 2px black;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 2.5px;
}

#contentSearchbutton {
  background-image: url("../images/icons/magnifying_glass_medium.png");
  right: 40px;
}

#contentSearchtagtoggle {
  background-image: url("../images/icons/tag_icon_medium.png");
  right: 0px;
}


#contentSearchfield {
  height: 35px;
  width: 175px;
  font-size: 30px;
  box-shadow: inset 0 0 10px 5px rgb(70, 69, 69), 0 0 2px 2px black;
  border-radius: 8px;
  background-color: grey;
  position: absolute;
  left: 0px;
  top: 2.5px;
  color: silver;
  text-shadow: 0 0 6px black;
}


#content {
  width: 910px;
  height: 700px;
  position: absolute;
  left: 0px;
  top: 5px;
  border: 5px solid black;
}

.CodexCategories, .CodexArrows, .CodexArrowsSmall, .CodexSubcategories, .CodexEntities {
  color: silver;
  text-shadow: 0 0 10px black;
  margin: 5px;
}

.CodexCategories {
  font-size: 28px;
  text-decoration: underline;
  font-weight: bold;
}

.CodexArrows {
  font-size: 26px;
  text-decoration: none !important;
  position: absolute;
  user-select: none !important;
}

.CodexArrowsSmall {
  font-size: 20px;
  text-decoration: none !important;
  position: absolute;
  user-select: none !important;
}

.CodexSubcategories {
  font-size: 22px;
  text-decoration: underline;
}

.CodexEntities {
  font-size: 20px;
  position: relative;
  cursor: pointer;
  width: max-content;
}

.PointerClass {
  cursor: pointer;
  /*text-shadow: -0.05em 0.05em 0.1em black;*/
  text-decoration: underline;
}

.CodexEntryTitle {
  font-size: 56px;
  color: rgb(211, 211, 211);
  text-shadow: 0 0 16px black;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
}

.TextIconClass {
  width: 30px;
  height: 30px;
}

#CodexBaseText {
  position: absolute;
  left: 10px;
  top: 80px;
}

#CodexBaseText p, span {
  user-select: all !important;
  font-size: 30px;
  color: silver;
  text-shadow: 0 0 8px black;
}