body {
  background-color: rgb(61, 61, 61);
  user-select: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../resources/images/themes/classical/bg/world_map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur();
}

#codex p,
span {
  font-family: CodexLight;
}

#codex {
  width: 62vw;
  height: 74vh;
  background-color: rgb(85, 85, 85);
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  box-shadow: inset 0 0 16px 16px rgb(24, 24, 24), 0 0 8px 8px rgb(43, 43, 43);
}

#contentScroller {
  display: block;
  width: 20vw;
  height: 73vh;
  background-color: rgb(133, 23, 23);
  position: absolute;
  right: 0px;
  top: 10px;
  box-shadow: inset 0 0 16px 16px rgb(68, 34, 7), 0 0 8px 8px rgb(92, 62, 22);
  overflow: hidden;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

#contentScroller > p:first-child {
  margin-top: 55px;
}

#contentSearchbar {
  width: 19.5vw;
  height: 2.5vw;
  background-color: rgb(92, 22, 22);
  position: absolute;
  right: 5px;
  top: 10px;
  box-shadow: inset 0 0 16px 16px rgb(68, 7, 7);
}

#contentSearchbutton,
#contentSearchtagtoggle {
  transition: 0.1s;
  width: 15%;
  height: 87.5%;
  background-color: grey;
  text-align: center;
  border-radius: 4px;
  box-shadow: inset 0 0 10px 5px rgb(70, 69, 69), 0 0 2px 2px black;
  cursor: pointer;
  position: absolute;
  right: 15%;
  top: 2.5px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

#contentSearchbutton {
  right: 15%;
}

#contentSearchtagtoggle {
  right: 0%;
}

#contentSearchfield {
  height: 75%;
  width: 70%;
  font-size: 1.5vw;
  box-shadow: inset 0 0 10px 5px rgb(70, 69, 69), 0 0 2px 2px black;
  border-radius: 8px;
  background-color: grey;
  position: absolute;
  left: 0%;
  top: 2.5px;
  color: silver;
  text-shadow: 0 0 6px black;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  width: 41vw;
  height: 73vh;
  position: absolute;
  left: 0px;
  top: 5px;
  border: 5px solid black;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.CodexCategories,
.CodexArrows,
.CodexArrowsSmall,
.CodexSubcategories,
.CodexEntities {
  color: silver;
  text-shadow: 0 0 10px black;
  margin: 5px;
  cursor: pointer;
}

.CodexCategories {
  font-size: 1.4vw;
  text-decoration: underline;
  font-weight: bold;
}

.CodexArrows {
  font-size: 1.35vw;
  text-decoration: none !important;
  position: absolute;
  user-select: none !important;
}

.CodexArrowsSmall {
  font-size: 1.15vw;
  text-decoration: none !important;
  position: absolute;
  user-select: none !important;
}

.CodexSubcategories {
  font-size: 1.35vw;
  text-decoration: underline;
}

.CodexEntities {
  font-size: 1.15vw;
  position: relative;
  cursor: pointer;
}

.PointerClass {
  cursor: pointer;
  /*text-shadow: -0.05em 0.05em 0.1em black;*/
  text-decoration: underline;
}

.CodexEntryTitle {
  font-family: "Charmonman" !important;
  font-size: 3vw;
  color: rgb(36, 17, 8);
  text-shadow: 0 0 16px black;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: bold;
  text-shadow: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #525252;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(34, 34, 34);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 20, 20);
}

.TextIconClass {
  width: 30px;
  height: 30px;
}

#CodexBaseText {
  position: absolute;
  left: 10px;
  top: 10vw;
}
#CodexBaseText p,
span {
  user-select: text !important;
  font-size: 1.4vw;
  color: rgb(36, 17, 8);
  text-shadow: 0 0 8px black;
}
#CodexBaseText > img {
  filter: sepia();
}

.codexImage {
  width: 15vw;
  height: 15vw;
  border: 4px solid;
  position: relative;
  right: 0px;
  top: 10px;
  float: right;
  margin: 5px;
}

#allyportraits {
  width: 18vw;
  height: 80vh;
  position: absolute;
  left: 0%;
  top: 0%;
  overflow: auto;
}

#enemyportraits {
  width: 18vw;
  height: 80vh;
  position: absolute;
  right: 1.75%;
  top: 0%;
  overflow: auto;
}

.portrait_background {
  width: 15.5vw;
  height: 10.5vw;
  background-color: rgb(66, 66, 66);
  box-shadow: 0 0 15px 12px rgb(31, 31, 31);
  position: relative;
  background-image: url("../../resources/images/themes/classical/portraits/portrait_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10%;
  border-radius: 1vw;
}

.portrait_title {
  font-size: 1.2vw;
  color: gold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5%;
  text-shadow: -2px 2px 2px black;
  white-space: nowrap;
  text-decoration: underline;
}

.portrait_image {
  border-radius: 1vw;
  box-shadow: 0 0 12px 8px black;
  position: absolute;
  left: 10%;
  bottom: 7.5%;
  width: 33%;
  height: 63%;
}

.portrait_overlay {
  position: absolute;
  z-index: 4;
  left: 10%;
  bottom: 7.5%;
  width: 33%;
  height: 63%;
}

.portrait_weapon {
  position: absolute;
  z-index: 5;
  left: 30%;
  bottom: 0%;
  width: 26%;
  height: 43%;
}

.portrait_shield {
  position: absolute;
  z-index: 5;
  left: -7.5%;
  bottom: 0%;
  width: 26%;
  height: 43%;
  transform: rotateZ(-10deg);
}

/* .portrait_class {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -25px;
} */

.hpbarbg,
.mpbarbg {
  width: 42%;
  height: 11%;
  border: 2px solid black;
  position: absolute;
  background-color: rgb(44, 44, 44);
  box-shadow: inset 0 0 6px 4px rgb(36, 36, 36), 0 0 4px 4px black;
  left: 50%;
}

.barNum {
  color: white;
  font-size: 1vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1vw;
  z-index: 1;
  white-space: nowrap;
}

.hpbarfill,
.mpbarfill {
  left: 50.5%;
  height: 11%;
  position: absolute;
}

.hpbarbg {
  top: 30%;
}

.mpbarbg {
  top: 50%;
}

.hpbarfill {
  top: 30.5%;
  background-color: rgb(134, 6, 6);
  box-shadow: inset 0 0 6px 4px rgb(80, 3, 3);
}

.mpbarfill {
  top: 50.5%;
  background-color: rgb(6, 36, 134);
  box-shadow: inset 0 0 6px 4px rgb(3, 8, 80);
}

.statusEffects {
  width: 42%;
  height: 23%;
  background-color: rgb(34, 33, 33);
  position: absolute;
  right: 6.75%;
  bottom: 7.5%;
  border: 2px solid black;
  box-shadow: inset 0 0 6px 4px rgb(36, 36, 36), 0 0 4px 4px black;
  overflow: auto;
}

#uiIcons {
  width: max-content;
  height: 5vw;
  position: absolute;
  right: 5%;
  bottom: 3%;
  user-select: none;
  white-space: nowrap;
}

.ui_button {
  transition: 0.25s;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  cursor: pointer;
}

.darken {
  filter: brightness(25%);
  cursor: default !important;
}

.darken:active {
  pointer-events: none;
}

.ui_button:hover {
  transform: scale(1.05);
}

#settings {
  width: 18vw;
  height: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
}

#settings button {
  transition: 0.15s;
  width: 100%;
  height: 4vw;
  box-shadow: 0 0.6vw 0.3vw 0.3vw rgb(70, 8, 20);
  border: none;
  background-color: rgb(255, 20, 67);
  user-select: none;
  outline: none;
  font-size: 3vw;
  font-family: CodexLight;
  color: white;
  text-shadow: 0 4px 6px black;
  position: absolute;
  cursor: pointer;
}

#save {
  top: 0vw;
}

#load {
  top: 6vw;
}

#worldmap {
  top: 12vw;
}

#options {
  top: 18vw;
}

#menu {
  top: 24vw;
}

#settings button:hover {
  margin-top: 0.5vw;
  box-shadow: 0 0.4vw 0.2vw 0.2vw rgb(70, 8, 20);
}

#settings button:active {
  margin-top: 0.6vw;
  box-shadow: 0 0.4vw 0.2vw 0.2vw rgb(70, 8, 20);
}

#saveLoad {
  width: 28vw;
  height: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  text-align: center;
}

#saveLoad button {
  transition: 0.15s;
  width: 80%;
  height: 4vw;
  box-shadow: 0 0.6vw 0.3vw 0.3vw rgb(49, 29, 10);
  border: none;
  background-color: rgb(255, 20, 67);
  user-select: none;
  outline: none;
  font-size: 2.5vw;
  font-family: CodexLight;
  color: white;
  text-shadow: 0 4px 6px black;
  margin: 0.75vw;
  position: relative;
  top: 0px;
  cursor: pointer;
}

#saveLoad button:hover {
  top: 0.5vw;
  box-shadow: 0 0.4vw 0.2vw 0.2vw rgb(49, 29, 10);
}

#saveLoad button:active {
  top: 0.6vw;
  box-shadow: 0 0.15vw 0.2vw 0.2vw rgb(49, 29, 10);
}

#Alert {
  width: 280px;
  height: 300px;
  background-color: rgb(94, 4, 4);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -150px;
  border-radius: 4px;
  border: 8px solid rgb(49, 2, 2);
  box-shadow: 0 8px 6px 8px rgb(39, 1, 1), inset 0 0 8px 8px rgb(80, 3, 3);
  z-index: 3;
}

#topAlert {
  width: 100%;
  height: 65px;
  background-color: rgb(44, 44, 44);
  box-shadow: inset 0 0 8px 8px rgb(34, 34, 34);
}

#alertIco {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
}

#yesAlert,
#noAlert {
  transition: 0.1s;
  background-color: rgb(145, 137, 137);
  border: none;
  width: 100px;
  height: 60px;
  box-shadow: 0 6px 4px 4px rgb(80, 79, 79),
    inset 0 0 4px 4px rgb(131, 121, 121);
  position: absolute;
  bottom: 24px;
  cursor: pointer;
  color: white;
  text-shadow: 0 3px 6px black;
  font-size: 24px;
  outline: none;
}

#yesAlert:hover,
#noAlert:hover {
  bottom: 20px;
  box-shadow: 0 2px 4px 4px rgb(80, 79, 79),
    inset 0 0 4px 4px rgb(131, 121, 121);
}

#yesAlert:active,
#noAlert:active {
  bottom: 18px;
  box-shadow: 0 0px 4px 4px rgb(80, 79, 79),
    inset 0 0 4px 4px rgb(131, 121, 121);
}

#yesAlert {
  left: 20px;
}

#noAlert {
  right: 20px;
}

#textAlert {
  color: silver;
  text-shadow: 0 4px 8px black;
  font-family: CodexLight;
  font-size: 20px;
  text-align: center;
}

#dimScreen {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
  opacity: 0.85;
}

#invFrame {
  width: 60vw;
  height: 38vw;
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
  border-radius: 8px;
  border: 8px solid rgb(80, 80, 80);
  box-shadow: 0 6px 5px 5px rgb(59, 59, 59);
}

#invGridFrame {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: 6px solid rgb(32, 20, 10);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#invGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#invGrid div {
  transition: 0.1s;
  width: 4.7vw;
  height: 4.95vw;
  background-color: rgb(54, 54, 54);
  border: 6px solid rgb(27, 27, 27);
  box-sizing: border-box;
  margin: 0.55vw;
  padding: 0vw;
  position: relative;
  text-align: center;
}

#invGrid p {
  position: absolute;
  right: 8px;
  bottom: -25px;
  color: white;
  font-size: 1.2vw;
  text-shadow: 0 0 4px black;
}

#invGrid div:hover {
  border: 6px solid rgb(43, 43, 43);
}

#infoBox {
  transition: 0.2s;
  transform: scale(1);
  width: 20vw;
  height: fit-content;
  position: absolute;
  top: 0%;
  left: 0%;
  user-select: none;
  background-color: rgba(27, 27, 27, 0.9);
  text-shadow: 0 1px 2px silver;
  font-weight: bold;
  z-index: 5;
}

#infoBox p,
span {
  color: rgb(141, 85, 59);
  font-size: 1vw;
  font-family: Codex;
  margin: 0px;
  position: relative;
  filter: brightness(80%);
  text-shadow: none !important;
}

.effectBox {
  width: 95%;
  height: fit-content;
  background: rgb(61, 58, 58);
  position: relative;
  left: -2.5%;
  border-radius: 8px;
  box-shadow: 0 2px, 4px 4px rgb(32, 32, 32), inset 0 0 8px 8px rgb(47, 47, 47);
  overflow: hidden;
}

.effectMain {
  position: relative;
  white-space: nowrap;
  margin-left: -5%;
  left: -10%;
  font-size: 1vw;
}

.effectLine {
  display: flex;
  white-space: nowrap;
  position: relative;
  margin-left: -8%;
  font-size: 1vw;
}

.effectLine p {
  position: relative;
  text-shadow: 0 0 4px rgb(0, 0, 0) !important;
  font-weight: bold;
  font-size: 1vw;
}

.effectLine span {
  white-space: nowrap;
  position: relative;
  text-shadow: 0 0 4px rgb(0, 0, 0) !important;
  font-weight: bold;
  font-size: 1vw;
}

.traitContainer span {
  font-weight: bold;
  color: white;
  filter: brightness(80%) !important;
}

#infoBox div {
  margin: 5%;
}

.desc {
  color: white;
  font-size: 1vw;
  font-family: CodexLight;
  margin: 0px;
  font-style: italic;
  white-space: normal;
}

#infoBox h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 2vw;
}

#infoBox p {
  margin-left: 3.5%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#invEquipFrame {
  width: 40%;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border: 6px solid rgb(36, 36, 36);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#armorFrame div,
#weaponFrame div {
  transition: 0.1s;
  width: 30%;
  height: 20%;
  background-color: rgb(54, 54, 54);
  border: 6px solid rgb(27, 27, 27);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

#armorFrame div:hover,
#weaponFrame div:hover,
#ringFrame div:hover {
  border: 6px solid rgb(44, 44, 44);
}

#armorFrame p,
#weaponFrame p {
  font-size: 1.25vw;
  font-family: CodexLight;
  color: rgb(49, 34, 25);
  text-shadow: -1px 2px 4px rgb(58, 58, 58);
  position: absolute;
}

#helmet {
  left: 10%;
  top: 5%;
}

#helmetText {
  left: 10%;
  top: 21%;
}

#chestarmor {
  right: 10%;
  top: 5%;
}

#chestText {
  right: 10%;
  top: 21%;
}

#gloves {
  left: 10%;
  top: 30%;
}

#glovesText {
  left: 10%;
  top: 46%;
}

#feet {
  right: 10%;
  top: 30%;
}

#feetText {
  right: 10%;
  top: 46%;
}

#weaponSlot {
  left: 10%;
  top: 60%;
}

#weaponText {
  left: 10%;
  top: 76%;
}

#shieldSlot {
  right: 10%;
  top: 60%;
}

#shieldText {
  right: 10%;
  top: 76%;
}

#ringFrame div {
  transition: 0.1s;
  width: 3.1vw;
  height: 2.9vw;
  background-color: rgb(54, 54, 54);
  border: 6px solid rgb(27, 27, 27);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

#ringFrame p {
  font-size: 0.9vw;
  font-family: CodexLight;
  color: rgb(49, 34, 25);
  text-shadow: -1px 2px 4px rgb(58, 58, 58);
  position: absolute;
}

#ring1 {
  left: 10%;
  bottom: 5%;
}

#ring2 {
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}

#ring3 {
  right: 10%;
  bottom: 5%;
}

#ring1Text {
  left: 10%;
  bottom: 0%;
}

#ring2Text {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
}

#ring3Text {
  right: 10%;
  bottom: 0%;
}

.equippedItem {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

#timeFrame {
  width: 18vw;
  height: 5vw;
  background-color: rgb(97, 14, 14);
  border-radius: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  background-image: url("../../resources/images/themes/classical/bg/bg_cbrown.png");
  box-shadow: 0 5px 5px 5px rgb(39, 21, 11);
}

#timeFrame div {
  width: 90%;
  height: 1.5%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45%;
  box-shadow: inset 0 0 0.5% 0.5% silver, 0 0 1% 0.5% rgb(177, 176, 176);
}

#timeFrame p {
  color: white;
  text-shadow: 0 2px 6px rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
}

#clock {
  font-size: 1.4vw;
  top: -18%;
  left: 50%;
  transform: translateX(-50%);
}

#date {
  font-size: 1.4vw;
  bottom: -18%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

#saves,
#load,
#worldmap,
#options,
#menu {
  background-image: url("../../resources/images/themes/classical/bg/bg_red.png");
}

#allyportraits > div > .portrait_background {
  background-image: url("../../resources/images/themes/classical/portraits/portrait_background_ally.png");
}
